<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header.ejs') %>
    <title>The <%= gerund %> Half-<%= livingthing %></title>

</head>
<body>
<h1>The <%= gerund %> Half-<%= livingthing %></h1>
<br>
<p>
Many years ago in the forgotten civilization of <%= place %> Mountain lived a 
lonely <%= adjective %> girl named <%= firstname1 %>. All she ever wanted was one <%= adjective %> 
friend who would accept her for who she was, which as half human and half <%= livingthing %>.
But most people would just look at her and say, "Haha, look, she's <%= gerund %>!" and would run away in fear.
And, yes, she was always <%= gerund %>, but that didn't make her a bad person. In fact, she made 
delicious <%= food %> and gave it to all the poor people of <%= place %> Mountain.
<br><br>
One day, while <%= gerund %> in her favorite place in the forest, she fell on her <%= bodypart %>, 
passed out, and became <%= adjective %>. When she awoke, a handsome, full-breed 
<%= livingthing %> was bandaging her <%= bodypart %>. 
<br><br>
She exclaimed, "<%= interjection %>!"
<br><br>
"No need to be afraid, I saw you <%= gerund %> so beautifully and was very impressed. I thought 
perhaps you were the good samaritan who made <%= food %> for the poor people. I wanted to 
thank you because you helped my family. but then I saw you fall on your <%= bodypart %>
and came to help you, since I have this <%= adjective %> first aid kit on me at all times.
It's a common issue in this part of the forest.
<br><br>
She was confused since so many people make fun of her <%= gerund %>, but he 
thought it was beautiful.
<br><br>
"But...you are not afraid of me?"
<br><br>
"Of course not! all of us <%= livingthing %> beings take pride in our <%= gerund %> - it's a 
long tradition. Didn't your family teach you?"
<br><br>
"I have no family. They all died after <%= gerund %> in the <%= place %> restricted area 
because they all fell on their <%= bodypart %>."
<br><br>
"My name is <%= firstname2 %>. I've been looking for a friend just like you. Would you be my friend?
In fact, you can come back to my town, on the other side of <%= place %> Mountain. You can open a 
restaurant and sell your delicious <%= food %>, <%= gerund %> every day and as much as you want, 
and never be made fun of for being part or all <%= livingthing %>."
<br><br>
"Yes! I'd love to!"
<br><br>
He replied excitedly "<%= interjection %>!" and they both jumped into his <%= transport %> and disappeared
into the horizon.
</p>    
</body>
</html>
